{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <main>
                <div class="container">
                  <body>
                    <h2>Welcome to Project 1 of Spring IS601 class</h2>
                    <p>Introduction to web technologies and methodologies used in DevOps.</p>
                    <img src="{{ url_for('static', filename='images/devops.png')}}" class="d-block w-50" alt="devops cycle">
                    <br>
                    <br>
                    <h2>Assignment Objectives:</h2>
                    <p>Discuss the following:</p>
                    <p>1. Git</p>
                    <p>2. Docker</p>
                    <p>3. Python/Flask</p>
                    <p>4. CI/CD</p>
                    <hr class="featurette-divider">
                  </body>
                </div>
            </main>
        </div>
        <div class="col">
        </div>
    </div>
{% endblock %}