{% extends "base.html" %}
{% block content %}
    <main>
        <div id="myCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Git"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Docker"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"
                        aria-label="Python/Flask"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="CICD"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='images/banner_git.jpg') }}">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1 class="text-dark">Power of Versioning</h1>
                            <p class="text-dark">Git allows project participants to make changes to the code base safely
                                and efficiently.</p>
                            <p><a class="btn btn-lg btn-primary" href="{{ url_for('simple_pages.show', page="git") }}">
                                Git</a></p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/banner_docker.jpg') }}">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Code Containerized</h1>
                            <p>Docker enables your application automation by packaging it into a nimble and agile
                                solution.
                            </p>
                            <p><a class="btn btn-lg btn-primary"
                                  href="{{ url_for('simple_pages.show', page="docker") }}">Docker</a></p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/banner_python.jpg') }}">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1 class="text-dark">A Framework to Do It All</h1>
                            <p class="text-dark">This technology enabled us to build once but to service infinite
                                customers.
                            </p>
                            <p><a class="btn btn-lg btn-primary"
                                  href="{{ url_for('simple_pages.show', page="pyflask") }}">Python</a></p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/banner_cicd.jpg') }}">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Keep It Going</h1>
                            <p>Application development doesn't have to be a stop, wait and go process. Not with a CI/CD
                                pipeline.</p>
                            <p><a class="btn btn-lg btn-primary" href="{{ url_for('simple_pages.show', page="cicd") }}">
                                CICD</a></p>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="container col-xxl-8">
            <div class="row featurette  d-flex align-items-center">
                <div class="col-md-7 order-md-2">
                    <h2 class="fw-bold lh-1 mb-3">Project Outline</h2>
                    <p class="lead">
                        The topics covered in class have allowed students to become familiar with the most in-demand
                        web technologies, paving the way to an entry-level devops role. By implementing the tools
                        learned here, the students can now automate pipelines and integrate unit testing to build robust
                        workflows that reflect the needs of a real-world development environment. This website covers
                        these tools and discusses how they have been applied to build this site (aka Project 1).
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="{{ url_for('static', filename='images/teamwork-illustration.jpg') }}"
                     class="img-fluid  mb-4" alt="Team" width="500" height="500"
                     loading="lazy">
                </div>
            </div>
            <hr class="featurette-divider">
        </div>
                    <div class="container col-xxl-8">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-5">
                    <img src="{{ url_for('static', filename='images/ironman.png') }}"
                         class="d-block mx-lg-auto img-fluid" alt="Ethan"
                         width="300" height="300" loading="lazy">
                </div>
                <div class="col-lg-7">
                    <h2 class="fw-bold lh-1 mb-3">Project Creator</h2>
                    <p class="lead">
                        Hi and welcome! My name is Ethan and I am a candidate for MS in Computer Science at NJIT. I am
                        an aspiring DevOps Engineer that's currently working as a Junior Networking Engineer for a
                        Fortune 500 company. Before making the jump to tech, I was a chef with stints at Thomas Keller's
                        Per Se, Noma in Copenhagen and at Iron Chef Morimoto's NYC namesake restaurant. I love
                        artisanal coffee and staying active. Here's me about to warm-up for my first Iron Man in
                        Mt Tremblant.
                    </p>
                </div>
            </div>
        </div>
    <div class="container">
        <hr class="featurette-divider">
    </div>

    </main>
{% endblock %}