{% extends "base.html" %}
{% block content %}
    <main>
        <div id="myCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Git"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Docker"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Python/Flask"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="CICD"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="OOP"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-label="AAA"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="6" aria-label="Pylint"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="7" aria-label="SOLID"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="{{ url_for('simple_pages.show', page="git") }}">
                        <img src="{{ url_for('static', filename='images/banner_git.jpg') }}">
                    </a>
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1 class="text-dark">Power of Versioning</h1>
                            <p class="text-dark">Git allows project participants to make changes <br>
                                to the code base safely and efficiently.</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <a href="{{ url_for('simple_pages.show', page="docker") }}">
                        <img src="{{ url_for('static', filename='images/banner_docker.jpg') }}">
                    </a>
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Code Containerized</h1>
                            <p>Docker enables your application automation by <br>
                                packaging it into a nimble and agile solution.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <a href="{{ url_for('simple_pages.show', page="python") }}">
                        <img src="{{ url_for('static', filename='images/banner_python.jpg') }}">
                    </a>
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1 class="text-dark">A Framework to Do It All</h1>
                            <p class="text-dark">This technology enabled us to build once <br>
                                but to service infinite customers.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <a href="{{ url_for('simple_pages.show', page="cicd") }}">
                        <img src="{{ url_for('static', filename='images/banner_cicd.jpg') }}">
                    </a>
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Keep It Going</h1>
                            <p>Application development doesn't have to be a stop, <br>
                                wait and go process. Not with a CI/CD pipeline.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="{{ url_for('simple_pages.show', page="oop") }}">
                        <img src="{{ url_for('static', filename='images/banner_oop.jpg') }}">
                    </a>
                    <div class="container">
                        <div class="carousel-caption text-start" style="color:black">
                            <h1>Instantiate.</h1>
                            <h1>Encapsulate.</h1>
                            <h1>Polymorph. Oh, my!</h1>
                            <p>Object oriented programming helps us <br>
                                build robust and versatile code.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="{{ url_for('simple_pages.show', page="aaa") }}">
                        <img src="{{ url_for('static', filename='images/banner_aaa.jpg') }}">
                    </a>
                    <div class="container">
                        <div class="carousel-caption text-start" style="color:black">
                            <h1>AAA isn't just insurance. <br> It's assurance.</h1>
                            <p>The AAA model helps us test our code and <br>
                                keeps at bay the messy surprises of bad code.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="{{ url_for('simple_pages.show', page="pylint") }}">
                        <img src="{{ url_for('static', filename='images/banner_pylint.jpg') }}">
                    </a>
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Keeping the <br>Team Uniform</h1>
                            <p>Pylint helps everyone keep code <br>
                                consistent and well-written.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="{{ url_for('simple_pages.show', page="solid") }}">
                        <img src="{{ url_for('static', filename='images/banner_solid.jpg') }}">
                    </a>
                    <div class="container">
                        <div class="carousel-caption text-start" style="color:black">
                            <h1>SOLID Helps Your <br>Code Be Solid</h1>
                            <p>Some very smart people laid out the guardrails to writing agile, <br>
                                reusable and maintainable code. Find out more on our SOLID page.
                            </p>
                        </div>
                    </div>
                </div>


                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="container col-xxl-8">
            <div class="row featurette  d-flex align-items-center">
                <div class="col-md-7 order-md-2">
                    <h2 class="fw-bold lh-1 mb-3">Project Outline</h2>
                    <p class="lead">
                        The topics covered in class have allowed students to become familiar with the most in-demand
                        web technologies, paving the way to an entry-level devops role. By implementing the tools
                        learned here, the students can now automate pipelines and integrate unit testing to build robust
                        workflows that reflect the needs of a real-world development environment. This website covers
                        these tools and discusses how they have been applied to build this site (aka Project 1).
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="{{ url_for('static', filename='images/teamwork-illustration.jpg') }}"
                     class="img-fluid  mb-4" alt="Team" width="500" height="500"
                     loading="lazy">
                </div>
            </div>
            <hr class="featurette-divider">
        </div>
                    <div class="container col-xxl-8">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-5">
                    <img src="{{ url_for('static', filename='images/ironman.png') }}"
                         class="d-block mx-lg-auto img-fluid" alt="Ethan"
                         width="300" height="300" loading="lazy">
                </div>
                <div class="col-lg-7">
                    <h2 class="fw-bold lh-1 mb-3">Project Creator</h2>
                    <p class="lead">
                        Hi and welcome! My name is Ethan and I am a candidate for MS in Computer Science at NJIT. I am
                        an aspiring DevOps Engineer that's currently working as a Junior Networking Engineer for a
                        Fortune 500 company. Before making the jump to tech, I was a chef with stints at Thomas Keller's
                        Per Se, Noma in Copenhagen and at Iron Chef Morimoto's NYC namesake restaurant. I love
                        artisanal coffee and staying active. Here's me about to warm-up for my first Iron Man in
                        Mt Tremblant.
                    </p>
                </div>
            </div>
        </div>
    <div class="container">
        <hr class="featurette-divider">
    </div>

    </main>
{% endblock %}