{% extends "base.html" %}
{% block content %}
  <div class="row border border-primary mb-5">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="{{ url_for('simple_pages.show', page="git")}}">
              <img src="{{ url_for('static', filename='images/github.png')}}" class="d-block w-50" alt="...">
          </a>
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='images/computer.png')}}" class="d-block w-50" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='images/computer.png')}}" class="d-block w-50" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="row container">
    <div class="col-3">
      <div class="card" style="width: 15rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <a href="{{ url_for('simple_pages.show', page="git")}}"><h5 class="card-title">Intro to Git</h5></a>
          <h6 class="card-subtitle mb-2 text-muted">The Ultimate Versioning Tool</h6>
          <p class="card-text">Learn about Git and how it plays an essential role in development.</p>
        </div>
      </div>
    </div>
      <div class="col-3">
      <div class="card" style="width: 15rem;">
        <div class="card-body">
            <a href="{{ url_for('simple_pages.show', page="git")}}"><h5 class="card-title">Intro to Git</h5></a>
          <h6 class="card-subtitle mb-2 text-muted">The Ultimate Versioning Tool</h6>
          <p class="card-text">Learn about Git and how it plays an essential role in development.</p>
        </div>
      </div>
    </div>
      <div class="col-3">
      <div class="card" style="width: 15rem;">
        <div class="card-body">
            <a href="{{ url_for('simple_pages.show', page="git")}}"><h5 class="card-title">Intro to Git</h5></a>
          <h6 class="card-subtitle mb-2 text-muted">The Ultimate Versioning Tool</h6>
          <p class="card-text">Learn about Git and how it plays an essential role in development.</p>
        </div>
      </div>
      <div class="col-3">
      <div class="card" style="width: 15rem;">
        <div class="card-body">
            <a href="{{ url_for('simple_pages.show', page="git")}}"><h5 class="card-title">Intro to Git</h5></a>
          <h6 class="card-subtitle mb-2 text-muted">The Ultimate Versioning Tool</h6>
          <p class="card-text">Learn about Git and how it plays an essential role in development.</p>
        </div>
      </div>
    </div>
  </div>
  <p>Index Page</p>
{% endblock %}