{% extends "base.html" %}
{% block content %}
    <main>
        <div class="px-4 pt-5 my-7 text-center">
            <h1 class="display-4 fw-bold mb-5">References</h1>
            <div class="col-lg-6 mx-auto">
                <p class="mb-4">

                    https://www.digitalocean.com/community/conceptual_articles/s-o-l-i-d-the-first-five-principles-
                    of-object-oriented-design<br>
                    https://developers.mews.com/aaa-pattern-a-functional-approach/


                </p>
            </div>
        </div>

        <div class="container">
            <hr class="featurette-divider">
        </div>
    </main>
{% endblock %}