{% extends "base.html" %}
{% block content %}
    <main>
        <div class="px-4 pt-5 my-7 text-center">
            <h1 class="display-4 fw-bold mb-5">References</h1>
            <div class="col-lg-6 mx-auto">
                <p class="mb-4">
                    https://www.webopedia.com/definitions/instantiation/<br>
                    https://www.tutorialspoint.com/What-is-object-oriented-programming-OOP<br>
                    https://stackoverflow.com/questions/12071344/what-are-fixtures-in-programming<br>
                    https://refactoring.guru/design-patterns<br>
                </p>
            </div>
        </div>

        <div class="container">
            <hr class="featurette-divider">
        </div>
    </main>
{% endblock %}